body {
    display: flex;
    flex-direction: column;
    
    height: 100vh; /* Full height of the viewport */
    font-size: smaller;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0; /* Remove default margin to prevent overflow */
    overflow: hidden; /* Prevent scrollbars */
}

.top-section {
    display: flex;
    align-items: center;
    background-color: #360404;
    color: white;
    padding: 1px 10px;
    position: relative;
    border-radius: 20px;
}

.top-section h1 {
    margin: 0 auto; /* Center the title horizontally */
}

.back-arrow {
    color: white;
    text-decoration: none;
    font-size: 2.5em; /* Adjust the size of the back arrow */
    margin-right: 10px;
    padding: 0 10px;
}

.back-arrow:hover {
    color: #f2f0f0; /* Change color on hover */
}

.dashboard {
    display: flex;
    height: 88%;
    
}

.sidebar {
    width: 20%;
    background-color: #e9d4d4;
    padding: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 5px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.left-navigation ul {
    list-style: none;
    padding: 0;
}

.left-navigation li {
    margin: 10px 0;
}

.left-navigation a {
    text-decoration: none;
    color: #360404;
    font-weight: bold;
    transition: transform 0.3s ease, color 0.3s;
    
}

.left-navigation a:hover {
    color: #f9f9fb;
    text-decoration: underline;
    font-weight: bold;
       
}

.dashboard-grid {
    margin-top: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr; /* 3 rows of equal height */
    grid-template-columns: 1fr 1fr 1fr; /* 3 columns of equal width */
    gap: 3px; /* Space between grid items */
    height: 100%; /* Full height of the parent container */
    width: 100%; /* Full width of the parent container */
    
}

.grid-item {
    border: 1px solid #ccc; /* Optional: Add a border for visibility */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9; /* Optional: Background color */
}

#graph-container1 {
    width: 100%; /* Full width of the grid item */
    height: 100%; /* Full height of the grid item */
}
#graph-container2 {
    width: 100%; /* Full width of the grid item */
    height: 100%; /* Full height of the grid item */
}
#graph-container3 {
    width: 100%; /* Full width of the grid item */
    height: 100%; /* Full height of the grid item */
}
